<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Journal"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Journal">
         <property
               name="appName"
               value="ca.footeware.rcp.journal">
         </property>
      </product>
   </extension>

</plugin>
